@media (max-width: 767px) {
    .quote {
        width: 300px;
        padding-top: 18px;
        padding-bottom: 18px;
        margin-bottom: 50px;
    }
}

@media (min-width: 768px) and (max-width: 1249px) {
    .quote {
        width: 700px;
        padding-top: 19px;
        padding-bottom: 19px;
    }
}

@media (min-width: 1250px) {
    .quote {
        width: 900px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

body {
    font-family: 'Roboto Slab', serif;
    background-image: url("images/lake.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    transition: 0.8s;

}

.quote {
    margin-top: 50px;
    border-style: solid;
    border-radius: 2%;
    border-color: #364B71;
    background-color: #D1E1FF;
}

button {
    margin-bottom: 15px;
    margin-top: 15px;
}

a {
    text-decoration: none;
}